---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <!-- カスタムスペース(広告、SNSシェアなど) -->
    <hr>
    <h3>SNS Share</h3>
    <ul class="share-post list-inline pull-right">
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }} -- {{ site.title }}&url={{ site.url }}{{ page.url | relative_url }}" rel="nofollow" target="_blank" title="Share on Twitter" class='btn btn-default btn-xs'>
          <i class="fa fa-twitter"><span>Twitter</span></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url | relative_url }}" rel="nofollow" target="_blank" title="Share on Facebook"" class='btn btn-default btn-xs'>
          <i class='fa fa-facebook'><span>Facebook</span></i>
        </a>
      </li>
    </ul>
    <!-- カスタムスペースここまで -->
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
